[Unit]
Description=PiCraft WWW Service
After=network.target

[Service]
Type=simple
User=root
Environment=PYTHONPATH=/home/pi/bubbleworks/picraft
WorkingDirectory=/home/pi/bubbleworks/picraft/examples
ExecStart=/usr/bin/python3 pantilt.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
