[Unit]
Description=PiCraftZero WWW Service
After=network.target

[Service]
Type=simple
User=root
Environment=PYTHONPATH=/home/pi/bubbleworks/picraftzero
WorkingDirectory=/home/pi/bubbleworks/picraftzero/examples
ExecStart=/usr/bin/python3 /home/pi/bubbleworks/picraftzero/examples/pantilt.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
